<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Assignment 2 of COMP-308 By Aakash and Tanisha Sharma</h1>
  </body>
</html>
